@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;900&display=swap');
* {
  box-sizing: border-box;
}

body {
  min-width: 280px;
  min-height: 100px;
  font-family: 'Inter', sans-serif;
}
